<h1>Listing players</h1>

<!--
<table>
<% @players.each do |player| %>
<tr class="<%= cycle('list_line_odd', 'list_line_even') %>" >

<td class="list_description" >
<dl>
    <dt><%= player.name %></dt>
    <dt><%= player.surname %></dt>
    <dt><%= player.date_of_birth %></dt>
    <dt><%= player.foot %></dt>
    <dt><%= player.position %></dt>
    <dt><%= player.appearances %></dt>
    <dt><%= player.goals %></dt>
    <dt><%= player.assists %></dt>
    <dt><%= player.yellow_cards %></dt>
    <dt><%= player.red_cards %></dt>
</dl>
</td>

<td class="list_actions" >
<%= link_to 'Show', player %><br />
<%= link_to 'Edit', edit_player_path(player) %><br />
<%= link_to 'Destroy', player, confirm: 'Are you sure?', method: :delete %>
</td>
</tr>
<% end %>
</table>
<br />

<%= link_to 'New Player', new_player_path %>-->


<table id="players">
	<!--For data table begin-->
	<thead>
	  <tr>
	    <th>name</th>
	    <th>Surname</th>
	    <th>Date of birth</th>
	    <th>Foot</th>
	    <th>Position</th>
	    <th>Appearances</th>
	    <th>Goals</th>
	    <th>Assists</th>
	    <th>Yellow cards</th>
	    <th>Red cards</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>
	<!--For data table end-->

	<!--For data table begin-->
	<tbody>
	<% @players.each do |player| %>
	  <tr>
	    <td><%= player.name %></td>
	    <td><%= player.surname %></td>
	    <td><%= player.date_of_birth %></td>
	    <td><%= player.foot %></td>
	    <td><%= player.position %></td>
	    <td><%= player.appearances %></td>
	    <td><%= player.goals %></td>
	    <td><%= player.assists %></td>
	    <td><%= player.yellow_cards %></td>
	    <td><%= player.red_cards %></td>
	    <td><%= link_to 'Show', player %></td>
	    <td><%= link_to 'Edit', edit_player_path(player) %></td>
	    <td><%= link_to 'Destroy', player, confirm: 'Are you sure?', method: :delete %></td>
	  </tr>
	<% end %>
	</tbody>
	<!--For data table end-->
</table>

<br />

<%= link_to 'New Player', new_player_path %>

